<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div
    class="d-flex align-items-center justify-content-between bg-dark-1" 
    style="height: 50px;"
    >
      <p class="nav-link mb-0 header-title" th:text="${headerText} ?: 'Start New Chat'"></p>

      <div class="p-4" sec:authorize="isAnonymous()">
        <a class="btn btn-secondary mb-0 btn-custom text-center gray-button" href="/login">Login</a>
        <a class="btn btn-secondary btn-custom text-center gray-button" href="/register">Register</a>
      </div>

      <div class="p-4" sec:authorize="isAuthenticated()">
        <a class="btn btn-secondary mb-0 btn-custom text-center gray-button" href="/logout">Logout</a>
      </div>
    </div>

</header>