<div class="col-10 p-0 d-flex flex-column bg-dark-1"
     xmlns:th="http://www.thymeleaf.org"
     style="height: 100vh;">



    <header th:replace="~{fragments/header}"></header>

    <template id="prompt-template">
        <div th:replace="~{fragments/chat-frags.html :: userMessage('')}"></div>
    </template>

    <template id="response-template">
        <div th:replace="~{fragments/chat-frags.html :: assistantMessage('')}"></div>
    </template>

    <div class="d-flex flex-column flex-grow-1 overflow-hidden">

        <div class="px-4 py-3 text-light-1 fw-500 fs-6 bg-dark-1 chat-title"
             style="max-width: 30%; white-space: nowrap; outline: none;"
             title="Click to rename"
             onclick="enableTitleEdit(this)"
             th:classappend="${chat.chatName == null} ? 'chat-title-loading' : ''"
            th:text="${(chat.chatName == null) ? '-' : chat.chatName}"></div>

        <div id="history-container" class="flex-grow-1 overflow-y-auto px-4 py-4">

            <div th:if="${#lists.isEmpty(prompts)}"
                 class="text-center mt-5 text-gray-1">
                <p>No messages yet.</p>
            </div>

            <div class="mb-4 mx-auto col-8">
                <div class="d-flex justify-content-end mb-2">

                    <a th:href="@{/api/download/file/{userId}/{chatId}(userId=${userId}, chatId=${chat.id})}"
                    class="text-decoration-none text-light-2 fs-12px mt-1">

                        <div class="p-3 radius-10 ms-auto d-flex flex-column align-items-center cursor-pointer bg-dark-2"
                            style="border: 1px solid var(--dark-3); /*max-width: 80%;*/">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                height="56px" viewBox="0 -960 960 960"
                                width="56px" fill="var(--gray-3)">
                                <path d="M480-880v280h280v520H200v-800h280Zm80 0 200 200H560v-200ZM360-200h160v-80H360v80Zm0-160h240v-80H360v80Z"/>
                            </svg>

                            <span class="text-nowrap text-light-1" th:title="${chat.file.fileName}" th:text="${#strings.abbreviate(chat.file.fileName, 20)}"></span>
                        </div>
                    </a>
                </div>
            </div>

            <div th:each="msg : ${prompts}" class="mb-4 mx-auto col-8">
                
                <div th:replace="~{fragments/chat-frags.html :: userMessage(${msg.question})}"></div>

                <th:block th:if="${msg.response != null}">
                    <div th:replace="~{fragments/chat-frags.html :: assistantMessage(${msg.response})}">
                    </div>
                </th:block>

            </div>
        </div>

            <form action="/chat/message"
                  method="post"
                  enctype="multipart/form-data"
                  id="prompt-box"
                  class="d-flex gap-2 justify-content-center">

                <input type="text"
                       name="promptText"
                       class="prompt-input flex-grow-1"
                       id="prompt-input"
                       style="max-width: 640px;"
                       placeholder="Type your question..."
                       th:disabled="${disabled}"
                       th:placeholder="${disabled} ? 'Daily limit reached' : 'Type your question...'"
                       required>
                <input type="hidden" name="chatId" th:value="${chat.id}">
                <button id="prompt-submit-btn"
                        type="submit"
                        class="btn gray-button btn-custom text-light-1 px-4"
                        th:disabled="${disabled}">
                    Send
                </button>
            </form>

        <p class="inline-error text-center mt-2"
           th:if="${disabled}">
            Token limit reached, it will reset after:
            <span class="timestamp-span" th:data-time="${limitTill}"></span>
        </p>

        <p class="inline-error text-center mt-2"
           th:if="${!disabled}"
           th:text="${error} ?: ' '"></p>
        </div>

    </div>
    <script th:inline="javascript">
    let streaming = false;
    let toolCall = null;
    let hideToolCallTimeout = null;

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector("#prompt-box")
        .addEventListener("submit", (e) => {
            e.preventDefault();

            if(document.querySelector("#prompt-input").disabled){
                e.preventDefault();
                return;
            }

            e.preventDefault();

            if(streaming) return;

            const input = document.querySelector("#prompt-input");

            let prompt = input.value;
            input.value = '';

            addRow(prompt, true);
            if(prompt){
                sendPrompt(prompt);
            }
        });

        init();
        });

        async function sendPrompt(prompt, endpointUpdate) {
        streaming = true;
        console.log(new Date())
        const bubble = addRow('', false);

        const body = {
            "chatId": [[${chat.id}]],
            "promptText": prompt,
        }
        endpoint = endpointUpdate ? endpointUpdate : '/api/prompt';

            const response = await fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            });

        if (response.status === 429) {
            console.log("REACHED ERROR")
            bubble.row.querySelector('span:not(.loader)').innerText = 'Token limit reached, please try again later.';

            const errorData = await response.json();
            enableLimitLock(errorData.limitExpiresAt);

            streaming = false;
            return;
        }
        const reader = response.body.getReader();
        const decoder = new TextDecoder();

        let res = '';
        let buffer = '';

        try {
            while (true) {
            const { done, value } = await reader.read();

            if (done) {
                break;
            }

            // Decode and log each chunk as it arrives
            buffer += decoder.decode(value, { stream: true });
            const lines = buffer.split('\n');

            buffer = lines.pop();

            for (const line of lines) {
                if (!line.trim()) continue;

                const msg = JSON.parse(line);

                if (msg.token) {
                    res += msg.token;
                }
                else if (msg.tool_call) {
                    toolCall = {
                        id: msg.tool_id,
                        name: msg.tool_call,
                        toolCallStartedAt: Date.now()
                    };
                    // Cancel any pending hide
                    if (hideToolCallTimeout) {
                        clearTimeout(hideToolCallTimeout);
                        hideToolCallTimeout = null;
                    }
                }
                else if (msg.tool_response && toolCall != null) {
                    const elapsed = Date.now() - toolCall.toolCallStartedAt;
                    const remaining = Math.max(0, 1500 - elapsed);

                    hideToolCallTimeout = setTimeout(() => {
                        toolCall = null;
                        updateResponseBubble(res, bubble);
                        hideToolCallTimeout = null;
                    }, remaining);
                } else if (msg.limit_exceeded) {
                    enableLimitLock(msg.limit_exceeded)
                }

                updateResponseBubble(res, bubble);
            }                        
        }
        } catch (error) {
            console.error("Streaming error:", error);
            res += '... <span class="error-text">An error has occured</span>'
        } finally {
            reader.releaseLock();
            streaming = false;
            return res;
        }
    } 

    function addRow(text, isPrompt){
        const container = document.querySelector("#history-container");
        
        if(isPrompt){
            const tpl = document.querySelector("#prompt-template");
            const prompt = tpl.content.cloneNode(true);
            prompt.querySelector("span.prompt-content").innerText = text;
            
            const row = document.createElement('div') 
            row.classList.add("mb-4","mx-auto","col-8")

            row.appendChild(prompt);
            container.appendChild(row);

            container.scrollTo({
            top: container.scrollHeight,
            behavior: "smooth"
            })

            return null;
        }  
        // Response od LLM
        row = container.lastElementChild;

        const tpl = document.querySelector("#response-template");
        const response = tpl.content.cloneNode(true);

        const loader = response.querySelector(".loader");
        loader.classList.remove("invisible");
        loader.classList.add("running");
        
        loader
        .addEventListener("animationiteration", (e) => {
            if(!streaming) {
                e.target.classList.remove('running')
                e.target.classList.add("invisible")
            }
        });

        row.appendChild(response)

        container.scrollTo({
            top: container.scrollHeight,
            behavior: "smooth"
        })


         return {
            row,
            md: row.querySelector(".md-content"),
            loader
        };
    }

    let lastRender = 0;
    function updateResponseBubble(res, bubble) {
        if(toolCall != null) {
            const toolDisplay = bubble.row.querySelector(':nth-last-child(1 of .tool-display)')
            toolDisplay.classList.add('visible')
            toolDisplay.innerText = 'Calliing ' + toolCall.name + '...'
        } else {
            bubble.row.querySelector('.tool-display').classList.remove('visible')
        }
        
        bubble.md.mdContent = res;

        const container = document.querySelector("#history-container")
        
        container.scrollTo({
            top: container.scrollHeight,
            behavior: "smooth"
            });
    }

    async function renameChat(chatName) {
        const newName = await fetch('/chat/rename/[[${chat.id}]]', {
            method: "POST",
            body: chatName
        }).then(x => x.text());

        if(!newName) return;

        [...document.querySelectorAll('.chat-title')]
        .filter(e => 
            e['href'] == undefined || 
            e.href.indexOf(window.location.pathname) != -1
        )
        .forEach(e => {
            e.innerText = newName;
            e.classList.remove('chat-title-loading');
        })
    }

    function enableLimitLock(epochSeconds) {
        document.querySelector("#prompt-input").disabled = true;
        document.querySelector("#prompt-submit-btn").disabled = true;
        
        const errorDisplay = document.querySelector("p.inline-error");
        errorDisplay.innerText = 'Token limit reached, it will reset after: ';

        const timestampSpan = document.createElement('span')
        errorDisplay.appendChild(timestampSpan)

        timestampSpan.innerText = formatTimestamp(epochSeconds);
    }

    function enableTitleEdit(element) {
        // Prevent re-triggering if already editing
        if (element.isContentEditable) return;

        // Store the original text in case they cancel or input nothing
        const originalText = element.innerText.trim();

        // Make editable and focus the element
        element.contentEditable = "true";
        element.focus();
        
        // Select all the text so user can start typing to replace it
        document.execCommand('selectAll', false, null);

        // Handle Key presses
        element.onkeydown = function(e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // Stop Enter from making a new line inside the div
                element.blur();     
            } else if (e.key === 'Escape') {
                element.innerText = originalText; // Revert changes
                element.blur();
            } else if (element.innerText.length >= 45 && !isControlKey(e)) {
                e.preventDefault();
            }
        };

        element.oninput = function() {
            if (element.innerText.length > 45) {
                element.innerText = element.innerText.substring(0, 45);
                // Move cursor back to the end after slicing text
                const range = document.createRange();
                const sel = window.getSelection();
                range.selectNodeContents(element);
                range.collapse(false);
                sel.removeAllRanges();
                sel.addRange(range);
            }
        };

        // Handle saving when the user clicks away
        element.onblur = function() {
            // Lock it back down
            element.contentEditable = "false";
            element.onkeydown = null; // Clean up listeners
            element.onblur = null;

            const newText = element.innerText.trim();
            const chatId = element.getAttribute('data-chat-id');

            // Only call the API if the text actually changed and isn't empty
            if (newText !== originalText && newText !== "" && newText.length <= 45) {
                renameChat(newText); 
            } else {
                // Revert to original if they deleted everything and clicked away
                element.innerText = originalText; 
            }
        };

        function isControlKey(e) {
            const allowedKeys = ['Backspace', 'Delete', 'ArrowLeft', 'ArrowRight', 'ArrowUp', 'ArrowDown', 'Tab', 'Home', 'End'];
            return allowedKeys.includes(e.key) || e.ctrlKey || e.metaKey;
        }
    }

    async function init(){
        const container = document.querySelector("#history-container")
        
        if([[${prompts[0] != null && prompts[0].response == null}]]) {
            let prompt = [[${prompts[0].question}]];
            await sendPrompt(prompt, '/api/prompt/regenarate/last');
        }

        container.scrollTo({
            top: container.scrollHeight,
            behavior: "smooth"
            });
        
        if([[${chat.chatName == null}]]) {
            renameChat()
        }
    }
    </script>

</div>
