<div xmlns:th="http://www.thymeleaf.org" class="col-10 p-0 d-flex flex-column" style="height:100vh;">

    <header th:replace="~{fragments/header}"></header>

    <div class="d-flex flex-column align-items-stretch justify-content-center mt-auto flex-grow-1 bg-dark-1 overflow-hidden">

        <div class="p-3 border-bottom fw-bold fs-5 text-light-1" th:text="${chat.chatName}"></div>

        <div class="flex-grow-1 p-4 overflow-y-auto">

            <div th:if="${#lists.isEmpty(prompts)}" 
            class="text-center mt-5 text-gray-1">
                <p>No messages yet.</p>
            </div>

            <div class="mb-4 mx-auto col-8">
                <div class="d-flex justify-content-end mb-2">
                    <div role="button" class="p-3 rounded text-white d-flex flex-column align-items-center bg-gray-1 cursor-pointer" 
                        style="max-width: 80%;">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        height="64px" viewBox="0 -960 960 960" 
                        width="64px" fill="#e3e3e3">
                        <!-- https://fonts.google.com/icons?selected=Material+Symbols+Sharp:docs:FILL@1;wght@400;GRAD@0;opsz@24&icon.query=doc&icon.style=Sharp&icon.size=24&icon.color=%23e3e3e3 -->
                        <path d="M480-880v280h280v520H200v-800h280Zm80 0 200 200H560v-200ZM360-200h160v-80H360v80Zm0-160h240v-80H360v80Z"/>
                        </svg>
                        <a 
                        th:href="@{ /api/download/file/{userId}/{chatId}(userId=${userId}, chatId=${chat.id}) }" 
                        class="text-decoration-none text-light-1"
                        >File name</a>
                    </div>
                </div>
            </div>

            <div th:each="msg : ${prompts}" 
                class="mb-4 mx-auto col-8">

                <div class="d-flex justify-content-end mb-2">
                    <div class="p-3 rounded text-white" 
                        style="background-color: #0b1f3a; max-width: 80%;">
                        <span th:text="${msg.question}"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-start">
                    <div class="p-3 rounded bg-white shadow-sm">
                        
                        <span th:if="${msg.response != null}" 
                            th:text="${msg.response}">
                        </span>

                        <span th:if="${msg.response == null}" 
                            class="text-muted fst-italic">
                                Waiting for answer...
                        </span>

                    </div>
                </div>

            </div>
        </div>

        <div class="p-3 border-top">
            <form action="/chat/message"
                method="post"
                enctype="multipart/form-data"
                class="d-flex flex-column gap-2 align-items-center">

                <div class="d-flex gap-2 col-7">
                    <input type="text" name="promptText"
                        class="form-control"
                        placeholder="Type your question..." required>
                    <input type="hidden" name="chatId" th:value="${chat.id}">
                    <button type="submit" class="btn btn-primary px-4 btn-custom gray-button">Send</button>
                </div>

            </form>

            <script th:inline="javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    return; // Da ne se izvrshuva nadolu
                    document.querySelector("#file-input")
                    .addEventListener('change', async (e) => {
                        console.log("UPLOADING")
                        const files = e.target.files;
                        if (!files.length || files.length == 0) return;

                        const formData = new FormData();
                        formData.append('file', files[0]);

                        formData.append('chatId', [[${chat.id}]])

                        setStatus('uploading');

                        try {
                            const response = await fetch('/upload', {
                                method: 'POST',
                                contentType: 'multipart/form-data',
                                body: formData
                            });

                            if (!response.status != 200) throw new Error(`Server error: ${response.status}`);

                            setStatus('success', 'uploaded successful.');
                        } catch (err) {
                            setStatus('error', 'File upload failed. Please try again.');
                        }
                    });
                });
                
                function setStatus(state, message = '') {
                    const span = document.getElementById('upload-status');
                    span.textContent = message;
                    span.className = '';
                    span.hidden = state != 'success' || !message;

                    if (state === 'error') span.classList.add('upload-error');
                    if (state === 'success') span.classList.add('upload-success');
                }
            </script>
        </div>

    </div>

</div>